<header>
    <a href="#" class="logo">Logo</a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg></label>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Institución</a></li>
            <li>
                <a href="#">Libros +</a>
                <ul>
                    <li><a href="#">Submenu</a></li>
                    <li><a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Submenu 2</a></li>
                            <li><a href="#">Submenu 2</a></li>
                            <li><a href="#">Submenu 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Noticias</a>
            </li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>
